html{
  position:relative; 
  min-height: 100%;
}
.header, .content, .footer{
	width: 100%;
}
.content{
	padding: 70px 0px 60px;
}
.footer{
	position: absolute;
	bottom: 0px;
	height: 60px;
	background-color: #f5f5f5;
}
.footer .container{
	padding: 10px 15px 10px 0px;
}
.pull-right{
	height: 40px;
	line-height: 40px;
}
.form-signin{
	max-width: 330px;
	margin: 0px auto;
}
.form-control.username, .form-control.password{
	height: 50px;
}
.btn.btn-lg.btn-primary.btn-block{
	margin-top: 20px;
}
.search .form-control{
	float: left;
	margin-right: 5px;
}
.search .button{
	float: left;
	margin-right: 5px;
}
.panel .avatar{
	float: left;
	width: 50%;
	padding: 0px 5%;
}
.panel .info{
	float: left;
	width: 50%;
	border-left: 1px solid #337ab7;
    padding-left: 5%;
}
.success{
	color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.error{
	color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.message{
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
img.avatar-img{
	width: 100%;
}
.clearfix{
	text-align: right;
}
.space{
	margin: 0px 5px;
	color: rgba(51,122,183,0.60);
}
.cat-sub{
	padding-left: 35px !important;
}
.cat-p{
	background-color: #f9f9f9;
}
.thu, .chi{
	width: 50%;
}
.total-money{
	float: right;
	margin: 0px 10px;
}
.thu>table, .chi>table{
	width: 100%;
}
.panel-body .btn{
	float: left;
	margin-right: 5px;
}